<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member creat screen</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<form action="/members/create" method="POST">
    <p>이름: <input name="name" type="text" id="name"></p>
    <p>이메일: <input name="email" type="text" id="email"></p>
    <p>비번: <input name="password" type="password" id="password"></p>
    <p><input type="submit" value="제출">제출</p>
</form>
</body>
</html>